# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# System files
.DS_Store
.Trash

# Personal configuration
.ssh/
.gitconfig
.bash_profile
.zshrc
.zprofile
.zsh_history

# Application specific
.vscode/
.docker/
.npm/
.npmrc
.yarnrc
.config/



npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.idea
